*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* start header section */
/* NAVIGATION section start */
.hed{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(216, 212, 212)
}
.hed-icon{
    display:flex;
    gap:9px;
    font-size: 1.6rem;
}
.hed-icon img{
    width:3rem;
}
.hed-icon span{
    color:#FF42A5;
}
.hed-ul{
    display:flex;
    list-style: none;
}
.hed-ul li{
   padding:20px;
}
.hed-ul >li>a{
   text-decoration:none;
   color:black; 
}
.ded-youtub-icon{
    display: flex;
    gap:9px;
    background-color: rgb(250, 251, 252);
    padding:8px;
    border-radius: 7px;
}
/* start banner section */
.banner-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:rgb(231, 225, 225);
}
.banner-content{
    padding:90px 20px 90px 90px;
}
.banner-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 70px;
font-weight: 800;
}
.banner-content h2{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
}
.banner-content p{
    color:#534C64;
    font-size: 15px;
    line-height: 15px;
    margin-top:20px;
}
.comon{
    display: inline-flex;
padding: 10px 30px;
border-radius: 48px;
border:none;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color:white;
margin-top:25px;
}
.go{
    display: inline-flex;
    padding: 10px 30px;
    border-radius: 48px;
background: #4EC5F7;
border:none;
color:white;
}

.banner-img img{
    height:600px;
}
/* start main section */

/* start gammer section */
.gammer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:bisque;
    gap:20px;

}
.gammer-img img{
    padding:40px 0px 0px 110px;
    height:500px;

}
.gammer-content{

    margin-right: 200px;
    text-align: right;
}
.comon-h2{
    text-align: right;
font-size: 40px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gammer-content p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.gammer-content h5{
    color: #534C64;
font-size: 24px;
font-weight: 700;
line-height: 30px; /* 187.5% */

}
.gammer-content>h5>span{
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
}
/* funny videos section */
.videos-div1{
    margin-top: 100px;
}
.videos-content{
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height:40px;
}
.videos-content h2{
    font-size: 40px;
   
}
.videos-container{
    display: flex;
    align-items: center;
    gap:30px;
    margin-left: 400px;
    margin-top:250px
}
.videos-contain{  
    height:330px;
    transform:translate(-50%,-50%);
  }
  
  .videos-contain  img{
    height:100%;
    width:100%;
  }
  .overlay{
    border-radius: 15px;
    position:absolute;
    width:283px;
    top:0px;
    left:0px;
    right:0px;
    bottom: 0px;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background: black;
  }
  .overlay .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
  }
  .overlay .content .pt{
    color:#F948B2;
    margin-top:10px;
  }
  .videos-contain:hover .overlay{
    opacity:0.8;
   
  }
  /* start install section */
  .inst-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    justify-content: space-around;
}
.inst-img-contain{
    width:440px;
    height:465px;
    margin-left: 200px;
    margin-top: 100px;

  }
  .img3-contain{
    position:relative;
    width:140px;
    top:-120px;
    right:20px;
    }
    .inst-content{
        width:50%;
        margin-left:170px;
       
    }
    .inst-content p{
        margin-top:15px;
        line-height: 20px;
    }
    .inst-span{
        color:#F948B2;
    }
    
    

/* any time section start */

.anytime-contain{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    justify-content: space-around;
}
.anytime-img-contain{
    width:440px;
    height:465px;
    margin-left: 200px;
    margin-top: 100px;
  
}
.img2-contain{
position:relative;
width:140px;
top:-110px;
right:-290px;
}
.anytime-content{
    width:50%;
    margin-left:70px;
}
.anytime-content h2{
    font-size:40px;
    width:350px;
}
.anytime-content p{
    margin-top:15px;
    line-height: 20px;
}

.anytime-content span{
    color:#F948B2;
}
/* start advanced section */
 .advanced {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width:74%;
    gap:30px;
    margin: 150px auto;
    
 } 
 .icon-div{
    display:flex;
    align-items: center;
    gap:5px;
}
.icon-div img{
    margin-left:10px;
}
.icon-div:hover{
    border:1px solid rgb(240, 3, 43);
    border-radius:60px;
    color:#FF42A5;
}
/* start footer section */
.foot{
    background-color: #0B0223;
    height:550px;
    margin-top:100px;
}
.foot-div{
    width:600px;
    margin:auto;
    padding-top:150px;
    text-align: center;
}
.foot-icon>h2>span{
    color:#F948B2;
}
.foot-icon{
    color:white;
    display: flex;
    font-size: 25px;
    margin-left: 200px;
}
.foot-div>ul{
    display: grid;
    color:white;
    grid-template-columns:repeat(6,1fr);
    justify-content: space-between;
    list-style: none;
    margin-top:40px;
}
.foot-social-icon i{
    margin-top:30px;
    margin-left: 20px;
    font-size:30px;
}
.foot-p>ul{
    color:white;
    list-style: none;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: space-between;
    margin-top: 43px;
    gap:10px;
}

.foot-small{
    color:azure;
    margin-top:50px;
}






/* Responsive for mobile */
@media screen and (max-width: 425px) {
    .gammer,.banner-container,.hed,.videos-container{
        flex-direction: column;
    }
    .inst-container{
        grid-template-columns: 1fr;
    }
    .inst-content{
        text-align:center;
    }
    .inst-img-contain{
        
        margin-right:85px;
    }
    .first-video{
        margin-top:200px;
    }
    .videos-contain {
        margin-left:150px;
    }
  
    .banner-img img,.gammer-img img{
        height:500px;
        width:100%;
    }
    .banner-content{
        padding:90px 20px 90px 40px;
    }
    .gammer-img img{
        padding-left:20px;
    }
    .gammer-content{
        margin-right:5px;
    }
    .videos-container{
        margin-left: 0px;
    }
    .videos img{
        margin-top: 7px;
    }
    
   
/* anytime section */
.anytime-contain{
    grid-template-columns: 1fr;
}
.anytime-img-contain{

    width:400px; 
    margin-left:87px;
    margin-top: 30px;
  
} 

.anytime-content{
    margin-left: 10px;
    margin-right:10px;
    text-align: center;
}

      

.foot-div{
        width:100%;
      }
      .foot-icon{
          margin-left: 100px;
    }
      .foot-div>ul{
        grid-template-columns:repeat(3,1fr) ;
        gap:5px;
      }
      .advanced{
        grid-template-columns: repeat(2,1fr);
      }
      .icon-div:hover{
        border:1px solid rgb(240, 3, 43);
        border-radius:60px;
        color:#FF42A5;
    }
    

  }
  /* Responsive for Tablet */
  @media screen and (max-width: 768px) {

    .hed,.banner-container,.gammer{
        flex-direction: column;
        margin:0px auto;
    }
    .gammer-img{
        margin-right:60px;
    }
    .gammer-content{
        margin-right:10px;
    }
    .videos-container{
        flex-direction: column;
        margin:0px auto;
    }
    .first-video{
        margin-top:200px;
    }
    .videos-contain {
        margin-left:150px;
    }
    .inst-container{
        grid-template-columns: 1fr;
    }
    .inst-content{
        text-align:center;
    }
    .inst-img-contain{
        
        margin-left:150px;
    }
    .anytime-contain{
        grid-template-columns: 1fr;
    }
    .anytime-content{
        text-align:center;
        width:450px;
        margin-left: 80px;
    }
    .advanced{
        grid-template-columns:repeat(2,1fr);
        margin-top:60px;
    }
 
  }


